body{
	background-color: #002e5f;
}

.photo{
	float: left;
	margin-right: 30px;
	padding: 50px;
	height: 150px;

}

.container{
	width: 900px;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
}